<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab:wght@600;800&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    
<link rel="stylesheet" href="/css/startpage.css">
<div class="background">
    <div class="content">
        <div class="container">
            <h1>Build and Track your habits</h1>
            <a href="/habits/dailyView">
                <button class="btn" id="startButton" style="vertical-align:middle"><span>Start </span></button>
            </a>
        </div>
    </div>
</div>

<script src="/js/start.js"></script>